<footer>

	{% assign app = site.data.apps[page.app] %}

	{% if app.your_name %}
	<p class="footerText">Made by {% if app.your_link %}<a href="{{ app.your_link }}">{% endif %}{{ app.your_name }}{% if app.your_link %}</a>{% endif %}{% if app.your_city %} in {{ app.your_city }}{% endif %}</p>
	{% endif %}
	<div class="footerIcons">

		{% if app.facebook_username %}
			<a href="https://facebook.com/{{ app.facebook_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if app.twitter_username %}
			<a href="https://twitter.com/{{ app.twitter_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if app.instagram_username %}
			<a href="https://instagram.com/{{ app.instagram_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if app.github_username %}
			<a href="https://github.com/{{ app.github_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if app.email_address %}
			<a href="mailto:{{ app.email_address }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

	</div>
	<div class="footerLinks">
		{% for subPage in site.pages and subPage.url contains page.app %}
			<a href="{{ subPage.url | relative_url }}" target="_self">{{ subPage.title }}</a>
		{% endfor %}
		{% if app.presskit_download_link %}
			<a href="{{ app.presskit_download_link }}">Press Kit</a>
		{% endif %}
	</div>
</footer>